<%= form_with(url: livesearch_index_path, method: :post, data: { 
    action: "keyup->search#suggestions", 
    suggestions_url: livesearch_suggestions_path, 
    controller: "search"
    }, html: { class: "search_form" }) do |f| %>
  
  <div class="fields live_fields">
  <%= f.text_field :query, placeholder: 'Search here', data: { search_target: "input" }, class: "search_form_input" %>
  <%= f.submit "Search", class: "search_form_button" %>
  </div>
  
  <div data-search-target="suggestions" id="suggestions" class="hidden">
  </div>

<% end %>
