<%= turbo_frame_tag project do %>
<div class="project">
  <%= link_to project.name, project_path(project), data: {turbo_frame: "_top"} %>
  <div class="project__actions">
    <%= button_to "Delete",
                  project_path(project),
                  method: :delete,
                  class: "btn btn--primary" %>
    <%= link_to "Edit",
                edit_project_path(project),
                class: "btn btn--light",
                 data: {turbo_frame: "modal" } %>
  </div>
</div>
<% end %>