<main class="container">
  <h1 class="project-heading">Projects</h1>
  
  <!-- Render the form partial -->
  <%= render partial: "livesearch/form" %>
  
  <!-- Turbo Frame for Project creation -->
    <%= link_to 'Create Project', new_project_path, class: "btn btn--light new", data: {turbo_frame: "modal" }%>
  
  <!-- Projects List -->
  <%= turbo_frame_tag "projects" do %>
    <% @projects.each do |project| %>
      <%= render project %>
      <% end %>
 <% end %>
</main>
